<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>experimentServlet</servlet-name>
    <servlet-class>uk.ac.ox.it.cancer_model.server.ExperimentServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>experimentServlet</servlet-name>
    <url-pattern>/cancer_model_experimenter/experiment</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Cancer_model_experimenter.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
   <servlet-name>UploadServlet</servlet-name>
   <servlet-class>uk.ac.ox.it.cancer_model.server.UploadServlet</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>UploadServlet</servlet-name>
   <url-pattern>/cancer_model_experimenter//uploadFileHandler</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>StaticPage</servlet-name>
		<servlet-class>uk.ac.ox.it.cancer_model.server.StaticPageServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>StaticPage</servlet-name>
		<url-pattern>/run/*</url-pattern>
</servlet-mapping>

</web-app>
